*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bisque;
}
nav{
    border-bottom: 3px double black;
    height: 6vh;
}
nav a{
    padding: 5px;
}
#logo{
    position: absolute;
    left: 92%;
}
header{
    height: 60vh;
    position: relative;
}
main{
    height: 34vh;
    position: relative;
}
.titulo{
    font-size: 60px;
    position: absolute;
    top: 0%;
    left: 38%;
    background: none;
    color: black;
}
.subtitulo{
    font-size: 36px;
    position: absolute;
    top: 15%;
    left: 39%;
    background: none;
    color: black
}
#tit{
    font-size: 60px;
    position: absolute;
    top: 0%;
    left: 38%;
    background: none;
    color: black;
}
.icono{
    position: absolute;
    width: 500px;
    top: 7rem;
    left: 35%;
}
#boton{
    text-decoration: none;
    background: none;
    color: rgba(255, 255, 255, 0);
}
.imagenIndex{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 10%;
    left: 50%;
}
#textoIndex{
    width: 15.5rem;
    font-size: 20px;
    color: rgb(0, 0, 0);
    position: absolute;
    left: 30%;
    top: 25%;
}
/* about */

#img1{
    position: absolute;
    left: 25%;
    top: 20%;
}
#img2{
    position: absolute;
    left: 25%;
    top: 60%;
}
#img3{
    position: absolute;
    left: 25%;
    top: 100%;
}
.texto1{
    background: none;
    position: absolute;
    width: 10rem;
    left: 50%;
    top: 22%;
}
.texto2{
    background: none;
    position: absolute;
    width: 10rem;
    left: 50%;
    top: 61%;
}
.texto3{
    background: none;
    position: absolute;
    width: 10rem;
    left: 50%;
    top: 101%;
}
/* contact */
#tit3{
    font-size: 60px;
    position: absolute;
    top: 0%;
    left: 40%;
    background: none;
    color: black;
}
.textoContact{
    font-size: 20px;
    background: none;
    position: absolute;
    width: 35rem;
    left: 35%;
    top: 5%;
}
.contacto{
    background: none;
    position: absolute;
    left: 35%;
    top: 25%;
}
.contacto2{
    background: none;
    position: absolute;
    left: 60%;
    top: 25%;
}